  <h4>Listado</h4>
  <ol class="list-group">
    <li *ngFor="let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd"



    class="list-group-item d-flex justify-content-between"
    [ngClass]="{
      'list-group-item-dark': isLast,
      'list-group-item-primary': isEven
    }">
    <div>
      <span class="text-primary">
    {{ i + 1 }}</span>
    {{ character.name }} -
    <strong>Power</strong>
    {{  character.power }}
    </div>

    <button class="btn btn-danger"
    (click)="onDeleteCharacter(i)"> X </button>

  <!--  <span>Es el primero {{ isFirst }}</span>

    <span>Es el ultimo {{ isLast }}</span>

    <span>par{{ isEven }}</span>

    <span>inpar{{ isOdd }}</span>  -->


  </li>
  </ol>

